@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');


.App{
  width: 100vw;
  height: 100vh;
  background-color: rgb(115, 43, 192);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-family: "Neucha", cursive ;
 

}
.heading{
  text-transform: uppercase;
  font-size: 40px;
  color: aliceblue;
  margin: 30px 0px;
  z-index: 1;
  text-align: center;
}

@media (max-width:800px) {
   .heading{
         font-size: 30px;
        margin: 15px 0px;
   }
 

}